/* html{
    font-size: 100%;
} */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(37, 36, 34)
}

main{
    display: flex;
    justify-content: center;
    background-color: rgb(235, 94, 40);
}

#mainTitle{
    color: aliceblue;
    text-align: center;
    font-size: 10vh; /* 10% of screen*/
}
.gameContainer{
    color: rgb(64, 61, 57);
    background-color: rgb(34, 139, 177);

    text-align: center;
    height: 80vh;
    width: 70vh;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.mainContainer{
    height: 60vmin;
    width: 60vmin;

    padding: 1rem;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    gap: 1.5vmin;
}

.box{
    font-size: 8vmin;
    color: rgb(150, 150, 0);
    /* background-color: black; */

    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem; /*  curved border */
    border: none;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); /* this is relative*/
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: aliceblue;

    /* display: none; */

    border-radius: 1rem; /*  curved border */
    border: none;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); /* this is relative*/
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: aliceblue;

    /* display: none; */

    border-radius: 1rem; /*  curved border */
    border: none;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); /* this is relative*/
}

.msg-container{
    color: red;
    font-size: 2rem;
    padding: 1rem;
    width: 20rem;
    height: 40rem;
}

.hide{
    display: none;
}